version: "3.7"
services:
  api:
    image: openpodcast/api:main
    ports:
      - "8080:8080"      
    environment:
      # If you change this, you need to change it in the db service too
      - DB_CONNECTION_STRING=mysql://root:root@db:3306/openpodcast
  db:
    image: mysql:8.0
    # Can be removed as soon as ARM images for MySQL 8.0 are available
    platform: linux/amd64
    # Always restart the container if it stops. If it is manually stopped, it is
    # restarted only when Docker daemon restarts or the container itself is
    # manually restarted. 
    restart: always
    environment:
      MYSQL_DATABASE: mysql
      # Change this to a strong password for prod
      MYSQL_ROOT_PASSWORD: root
      # So you don't have to use root, but you can if you like
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_INITDB_DATABASE: openpodcast
    ports:
      - "3306:3306"
    expose:
      - '3306'
    volumes:
      - ./db_schema/schema.sql:/docker-entrypoint-initdb.d/schema.sql
      - db_data:/var/lib/mysql
    
volumes:
  db_data:
